<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="icon" href="/img/icon.png" type="image/x-icon">
    <title>ReqHub</title>
    
    <link rel="stylesheet" href="/css/cadastrar.css" />
</head>

<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/img/icon.png" width="50" height="50" class="d-inline-block align-top" style="margin-left: 5vw;" alt="">
      ReqHub
    </a>
    <div class="ml-auto">
    <a href="#" class="navbar-brand">
      <img src="/img/iconadmin.png" width="40" height="40" class="d-inline-block align-top" alt="Icon Direita">
      <span class="ml-2"  style="font-size: 20px;">Admin</span>  <!-- Adicionando o texto ao lado da imagem -->
    </a>
    </div>
  </nav>
</header>

<body>
 <div class="container mt-5">
    <h2>Buscar Feedback</h2>

    <!-- Formulário de Busca -->
    <form id="buscarFeedbackForm" onsubmit="buscarFeedback(event)">
        <div class="mb-3">
            <label for="busca" class="form-label">Buscar por ID ou Nome:</label>
            <input type="text" id="busca" name="busca" class="form-control" placeholder="Digite o ID ou Nome" required>
        </div>

        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <!-- Área para mostrar o resultado da busca -->
    <div id="resultadoFeedback" class="mt-4"></div>
</div>

 
  <!-- Rodapé -->
  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2025 ReqHub. Todos os direitos reservados.</p>
  </footer>

</body>
</html>
