<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReqHub - Home do Usuário</title>
        <link rel="icon" href="/img/icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="/img/icon.png" width="50" height="50" class="d-inline-block align-top" style="margin-left: 5vw;" alt="" />
                    ReqHub
                </a>
                <div class="ml-auto">
                    <a th:href="@{/logout}" class="navbar-brand">
                        <span class="ml-2" style="font-size: 20px;">Sair</span>
                    </a>
                </div>
            </nav>
        </header>

        <div class="d-flex justify-content-center mt-5">
            <h2>Bem-vindo ao ReqHub, <span th:text="${username}"></span>!</h2>
        </div>

        <main>
            <section class="introduction text-center">
                <p style="font-size: 20px;">
 O ReqHub é um sistema interno de helpdesk para relatar problemas e sugerir melhorias.
                    Registre sua solicitação e acompanhe o status até a resolução.                </p>
            </section>

            <section class="container text-center mt-5">
                <div class="row">
                    <!-- Card de Abrir Requisição -->
                    <div class="col-md-4 mb-4">
                        <div class="card">
                         <h5 class="card-title">Abrir Requisição</h5>
                            <img src="/img/suggestion.jpg" class="card-img-top" alt="Criar Usuário" />
                            <div class="card-body">
                                <a th:href="@{/ordens/comentario}" class="btn btn-primary">Abrir</a>
                            </div>
                        </div>
                    </div>

                    <!-- Card de Consultar suas Requisições -->
                    <div class="col-md-4 mb-4">
                        <div class="card">  
                        <h5 class="card-title">Suas Requisições</h5>                      
                            <img src="/img/sreq.jpg" class="card-img-top" alt="Registrar Feedback" />
                            <div class="card-body">
                            <a th:href="@{/ordens/pesquisa}" class="btn btn-primary">Consultar</a>
                            </div>
                        </div>
                    </div>

                    <!-- Card de Central de Requisições -->
                    <div class="col-md-4 mb-4">
                        <div class="card">
                        <h5 class="card-title">Central de Requisições</h5>
                            <img src="/img/search.jpg" class="card-img-top" alt="Consultar Feedback" />
                            <div class="card-body">
                                <a th:href="@{/ordens/central}" class="btn btn-primary">Buscar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="bg-dark text-white text-center py-3">
            <p>© 2025 ReqHub. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>