<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ReqHub</title>
        <link rel="icon" href="img/icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css" />

    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="img/icon.png" width="50" height="50" class="d-inline-block align-top" style="margin-left: 5vw;" alt="" />
                    ReqHub
                </a>
                <div class="ml-auto">
                    <a th:href="@{auths/login}" class="navbar-brand">
                        <span class="ml-2" style="font-size: 20px;">Login</span>
                    </a>
                </div>
            </nav>
        </header>

        <div class="d-flex justify-content-center mt-5">
            <h2>Bem-vindo ao ReqHub – Seu Canal de Solicitações e Melhorias</h2>
        </div>

        <main>
            <section class="introduction text-center">
                <p style="font-size: 20px;">
                    O ReqHub é um sistema interno de helpdesk para relatar problemas e sugerir melhorias.
                    Registre sua solicitação e acompanhe o status até a resolução.
                </p>
            </section>

            <section class="container text-center mt-5">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="img/user_c.jpg" class="card-img-top" alt="Criar Usuário" />
                            <div class="card-body">
                                <h5 class="card-title">Criar Usuário</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="img/suggestion.jpg" class="card-img-top" alt="Registrar Feedback" />
                            <div class="card-body">
                                <h5 class="card-title">Chamado</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card">
                            <img src="img/search.jpg" class="card-img-top" alt="Consultar Feedback" />
                            <div class="card-body">
                                <h5 class="card-title">Consultar Feedback</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <section class="test text-center vh-100 d-flex justify-content-center align-items-center">
            <img src="img/test.png" id="specific-img" class="img-fluid" alt="Imagem Centralizada" />
        </section>

        <section class="text text-center fs-4 lh-1" style="margin-top: -250px; margin-bottom: 100px;">
            <p>
                Primeiro, crie sua conta utilizando suas credenciais da Ceasa. <br />
                Seu login será nome.sobrenome, e a senha será definida por você.
            </p>
        </section>

        <section class="text-center">
            <div class="card" style="max-width: 400px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Criar Conta</h5>
                    <fieldset disabled>
                        <form autocomplete="off">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Ex: ceasa.campinas" />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" placeholder="*******" />
                            </div>
                            <button type="submit" class="btn btn-primary">Criar</button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </section>

        <section class="test text-center vh-100 d-flex justify-content-center align-items-center">
            <img src="img/mid.png" alt="Imagem Centralizada" />
        </section>

        <section class="text text-center fs-4 lh-1" style="margin-top: -250px; margin-bottom: 100px;">
            <p>
                Primeiro, crie sua conta utilizando suas credenciais da Ceasa. <br />
                Seu login será nome.sobrenome, e a senha será definida por você.
            </p>
        </section>

        <section class="text-center" style="padding-bottom: 200px;">
            <div class="card" style="max-width: 400px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title">Fazer login</h5>
                    <fieldset disabled>
                        <form autocomplete="off">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Ex: ceasa.campinas" />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" placeholder="*******" />
                            </div>
                            <button type="submit" class="btn btn-primary">logar</button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </section>

<!-- Seção para Abrir Chamado -->
<section class="container my-5 custom-spacing">
    <div class="row align-items-center" style="margin-bottom: 100px;">
        <div class="col-md-5 mb-4">
            <img src="img/abrir_chamado.png" alt="Imagem de Chamado" class="img-fluid">
        </div>
        <div class="col-md-7">
            <div class="d-flex justify-content-center mb-4">
                <h2>Abrir Chamado</h2>
            </div>
            <div class="form-container">
                <fieldset disabled>
                    <form id="cadastroOrdemForm" th:action="@{/ordens/comentario}" method="post" th:object="${ordem}">
                        <div class="mb-3">
                            <label for="assunto" class="form-label">Assunto:</label>
                            <input type="text" id="assunto" name="assunto" class="form-control" placeholder="Ex: Rede de Internet Instável" required>
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Comentário:</label>
                            <textarea id="descricao" name="descricao" class="form-control" rows="5" wrap="soft" placeholder="Ex: A internet está muito instável na sala 3, com quedas frequentes de conexão. Tentamos reiniciar o computador, mas o problema persiste." required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-custom">Registrar</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</section>

<!-- Div de espaçamento -->
<div style="height: 150px;"></div>

<!-- Seção Minhas Ordens -->
<section class="container my-5 custom-spacing">
    <h2>Minhas Ordens</h2>
    <div id="resultadoOrdens" class="mt-4">
        <table class="table table-striped mb-4">
            <thead>
                <tr>
                    <th>Assunto</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Atendente</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="ordensTable">
                <tr>
                    <td>Problema no Software de Contabilidade</td>
                    <td>Erro no cálculo de impostos ao gerar relatórios.</td>
                    <td><span class="badge bg-warning text-dark">Pendente</span></td>
                    <td>João Silva</td>
                    <td><button class="btn btn-info btn-sm">Detalhes</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- Div de espaçamento -->
<div style="height: 150px;"></div>

<!-- Seção Pesquisar Chamados -->
<section class="container my-5 custom-spacing" style="margin-top: 90px;">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Pesquisar Chamados</h2>
            <fieldset disabled>
                <form>
                    <div class="mb-3">
                        <label for="searchInput" class="form-label">Digite sua pesquisa</label>
                        <input type="text" class="form-control" id="searchInput" placeholder="Ex: Impressora não imprime" />
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </fieldset>
            <div class="mt-4">
                <h3 class="text-center">Resultados</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Assunto</th>
                            <th>Comentário</th>
                            <th>Retorno</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Impressora</td>
                            <td>Não imprime em preto</td>
                            <td>Substituição do toner realizada</td>
                        </tr>
                        <tr>
                            <td>Rede</td>
                            <td>Internet instável na sala 3</td>
                            <td>Roteador foi reiniciado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <img src="img/pesq.png" alt="Imagem de Pesquisa" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" />
        </div>
    </div>
</section>
<footer class="bg-dark text-white text-center py-3" th:fragment="footer">
    <p>© 2025 ReqHub. Todos os direitos reservados.</p>
</footer>
    </body>
</html>